# Spring
spring:
  config:
    activate:
      on-profile: test
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testdb;NON_KEYWORDS=USER;DB_CLOSE_DELAY=-1
    username: sa
    password:
  h2:
    console:
      enabled: true
  sql:
    init:
      platform: h2
      mode: always
      schema-locations: classpath:/schema.sql
      data-locations: classpath:/data.sql
