<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flab.sooldama.domain.product.dao.ProductMapper">

  <select id="selectProducts" resultType="com.flab.sooldama.domain.product.domain.Product">
    SELECT id,
      product_category_id,
      name,
      price,
      image_url,
      description,
      abv,
      capacity,
      created_at,
      updated_at,
      deleted_at
    FROM product
    LIMIT #{limit}
    OFFSET #{offset}
  </select>

</mapper>