<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flab.sooldama.domain.user.dao.UserMapper">

  <insert id="insertUser" parameterType="com.flab.sooldama.domain.user.domain.User"
    keyProperty="id" useGeneratedKeys="true">
    <!-- useGeneratedKeys: DB 안에서 만들어낸 키(ex. RDBMS의 자동 증가 필드)를 받는 JDBC getGeneratedKeys 메소드를
    사용하도록 설정한다. 기본값은 false이고, insert, update에만 적용된다. -->
    <!-- keyProperty: getGeneratedKeys에 의해 리턴된 키를 세팅할 프로퍼티를 지정한다. -->
    INSERT INTO user
    (id, email, password, name, phoneNumber, nickname, isAdult, createdAt, updatedAt, deletedAt)
    VALUES
    (#{id}, #{email}, #{password}, #{name}, #{phoneNumber}, #{nickname}, #{isAdult}, #{createdAt},
    #{updatedAt}, #{deletedAt})
  </insert>

</mapper>
